body {
    background-color: #42c5f4;
}

header {
    background-color: #e0d7d7;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 40%;
}

footer {
    background-color: #e0d7d7;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 90%;
    left: 0%;
}

article {
    position: fixed;
    width: 100%;
    top: 10%;
    left: 0%;
}
